@font-face {
    font-family: 'PxGroteskBold';
    src: url('https://acmi-fonts.s3.ap-southeast-2.amazonaws.com/PxGroteskBold.woff');
}

@font-face {
    font-family: 'Fakt';
    src: url('https://acmi-fonts.s3.ap-southeast-2.amazonaws.com/FaktPro-Normal.woff');
}

body {
    text-align: center;
    max-width: 60rem;
    margin: 0 auto;
    font-family: 'Fakt', sans-serif;
    background-color: black;
    color: white;
}

form {
    margin: 1rem;
}

label, select, input {
    font-size: 1.8rem;
}

select {
    width: 6rem;
    position: relative;
    top: -0.3rem;
    margin: 0.5rem;
    font-size: 1.4rem;
}

input {
    border-radius: 0.3rem;
    padding: 0.5rem;
}

input[type="submit"] {
    border-radius: 1rem;
    padding: 0.5rem 1.5rem;
}

#query {
    width: 90%;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

audio {
    padding: 1rem;
    width: 2rem;
}

h1 {
    font-family: 'PxGroteskBold', sans-serif;
    font-size: 3rem;
    letter-spacing: -0.1rem;
    font-weight: normal;
    margin-bottom: 4rem;
    line-height: 3.5rem;
}

h2, h3 {
    font-family: 'PxGroteskBold', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    font-weight: normal;
}

h3 {
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
    line-height: 1.3rem;
}

ol, ul {
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin: 1rem 1.5rem;
    width: 42%;
    vertical-align: top;
}

li p {
    text-align: left;
}

h3 + p, h3 + p + p {
    opacity: 0.6;
    margin: 0.3rem;
    text-align: center;
}

#chats li {
    background-color: rgba(59,130,246,1.0);
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    line-height: 1.5rem;
    text-align: justify;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

#chats li.show {
    opacity: 1;
    transform: scaleY(1);
}

#resultsList li {
    width: 25%;
}

.circle {
    width: 8rem;
    height: 8rem;
    outline: 2px solid;
    outline-offset: 0.6rem;
    border-radius: 4rem;
    margin: auto;
    margin-bottom: 1.5rem;
}

.circle:hover {
    outline: 2px solid grey;
    opacity: 0.8;
}

.image {
    width: 8rem;
    height: 8rem;
    background: linear-gradient(#e66465, #9198e5);
    background-repeat: 'no-repeat';
    background-size: cover;
    background-position: center;
    border-radius: 4rem;
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
}

.logo {
    max-width: 10rem;
    margin-top: 10rem;
    opacity: 0.3;
}

.logo:hover {
    opacity: 1;
}

.disclaimer {
    opacity: 0.4;
    font-size: 0.8rem;
    padding: 1rem;
}

@media (max-width: 1224px) {
    body {
        max-width: 100vw;
    }
    li {
        width: 80vw;
        margin: 0.5rem;
    }
    #resultsList li {
        width: 45%;
    }
}
